<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Formulários</a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/home">Questão 1</a>
      </li>
        <li routerLinkActive="active">
          <a routerLink="/turmas">Questão 2</a>
        </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<br>
<br>

