
<div class="container mb-5">
  <h3>Cadastro de Turma</h3>

  <form #cadastro="ngForm" (submit)="salvar()">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="selectTurmas">Turmas<span class="required">*</span></label>
        <select class="form-control" name="selectTurmas" id="selectTurmas" [(ngModel)]="selectedTurma.id" (change)="onSelect($event.target.value)" #selectTurmas="ngModel" required
          [class.is-invalid]="selectTurmas.invalid && (selectTurmas.dirty || selectTurmas.touched)" multiple>
          <option value="0">--Select--</option>
          <option *ngFor="let turma of turmas" [value]="turma.numero">{{ turma.id}}</option>
        </select>
        <div *ngIf="selectTurmas.invalid && (selectTurmas.dirty || selectTurmas.touched)" | class="invalid-feedback">
          <span *ngIf="selectTurmas.errors.required">A turma deve ser selecionada!</span>
        </div>
    </div>
    <div class="form-group">
      <label for="selectAlunos">Alunos<span class="required">*</span></label>
      <select class="form-control" name="selectAlunos" id="selectAlunos" [(ngModel)]="turma.id" #selectAlunos="ngModel" required
        [class.is-invalid]="selectAlunos.invalid && (selectAlunos.dirty || selectAlunos.touched)" multiple>
        <option *ngFor="let turma of turmas" [value]="turmas">{{turma.frequencia }}</option>
      </select>
      <div *ngIf="selectAlunos.invalid && (selectAlunos.dirty || selectAlunos.touched)" | class="invalid-feedback">
        <span *ngIf="selectAlunos.errors.required">A turma deve ser selecionada!</span>
      </div>
  </div>
    <div class="btn-group mr-2" role="group" aria-label="First group"></div>
      <button class="btn btn-primary" mr-2 [disabled]="cadastro.invalid">Salvar</button>
      <button class="btn btn-secondary"  type="reset">Limpar</button> 
    </div>
  </form>
  
  <br>
  <h4>frequencias Cadastradas</h4>
  <div class="col-sm-12">
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Turma</th>
        <th scope="col">Nome</th>
        <th scope="col">Frequência</th>
        <th scope="col">Nota 1</th>
        <th scope="col">Nota 2</th>
        <th scope="col">Frequência</th>
        <th scope="col">Média</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of registros">
        
      </tr>
    </tbody>
  </table>
</div>
</div>